{% extends '@App/restaurant/category_layout.html.twig' %}

{% block breadcrumb %}
<li><a href="{{ path(restaurants_categories_route) }}">{% trans %}adminDashboard.restaurants.categories.title{% endtrans %}</a></li>
<li>{% if category.id is not empty %}{{ category.name }}{% else %}{% trans %}restaurant.category.form.createRestaurantCategory{% endtrans %}{% endif %}</li>
{% endblock %}

{% block content %}

{% if formErrors is not empty %}
  <div class="row margin-bottom-md">
    <div class="col-sm-6 col-md-offset-3">
      <div class="alert alert-danger">
        <ul class="restaurant-availability-errors">
          {% for field, errors in formErrors %}
            {% if field != 'enabled' and field != 'data.enabled' %}
              <li class="margin-left-l">
                {{ errors|first }}
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endif %}

{% if activationErrors is not empty %}
  <div class="row margin-bottom-md">
    <div class="col-sm-6 col-md-offset-3">
      <div class="alert alert-warning">
        {% trans from 'validators' %}category.notActivable{% endtrans %}
        <ul class="restaurant-availability-errors">
          {% for field, errors in activationErrors %}
            {% if field != 'enabled' and field != 'data.enabled' %}
            <li class="margin-left-l">
              {{ errors|first }}
            </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endif  %}

{% set cannot_be_enabled = ('enabled' in activationErrors|keys or 'data.enabled' in activationErrors|keys) %}

{{ form_start(form) }}

  <div class="row">
    <div class="col-sm-3">
      {% if form.imageFile is defined %}
        {{ form_row(form.imageFile) }}
      {% endif %}
    </div>
    <div class="col-sm-9">
      {{ form_row(form.name) }}
      {{ form_row(form.description) }}
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-3">
      {% if form.delete is defined %}
        {{ form_widget(form.delete, { attr: { class: 'btn-block btn-danger' } }) }}
      {% endif %}
    </div>
    <div class="col-sm-9">
      <button type="submit" class="btn btn-block btn-primary">{{ 'basics.save'|trans }}</button>
    </div>
  </div>

  {{ form_end(form) }}

{% endblock %}

